{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="jumbotron">
    <img src="images/druid-crest.png" class="site-crest" alt=""/>
    {{ partial "jumbotron-content.html" . }}
  </section>
  <main class="main">
  {{ partial "spec-select.html" . }}
    <div class="main-wrapper">
      <section class="article-list">
        <h1 class="section-header">Recent Articles</h1>
        {{ range first 10 (where .Data.Pages "Params.showonfrontpage" "!=" false) }}
          {{ .Render "summary" }}
        {{ end }}
      </section>
    </div>
  </main>
{{ end }}
