@import "./common.scss";

.article img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.article .author {
  color: $primary-accent;
  font-weight: bold;
}

.article a {
  color: $text-link;
  text-decoration: underline;
}

a.tooltip {
  color: $text-tooltip;
}

.article-content {
  grid-area: article-content;
}

.article-preview, .article-content {
  font-family: $font-body;
  font-size: 2rem;
  line-height: 3.2rem;
  padding: 2rem 0;
}

.article-content h1, .article-content h2, .article-content h3 {
  margin: 6rem 0 3rem;
  font-family: "Arvo";
}

.article-content h1 {
  font-size: 2em;
  line-height: 1.5em;
}

.article-content h2 {
  font-size: 1.5em;
}

.article-content h3 {
  font-size: 1.17em;
}

.article-content *:first-child {
  margin-top: 0;
}

.article-content pre {
  overflow-x: auto; 
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: $pre-bgcolor;
}

.article-spec {
  margin-bottom: 0;
  display: inline-block;
}

.article-spec a {
  text-decoration: none;
}

.article-spec .spec-icon {
  height: 2.2rem;
  margin-top: -0.3rem;
  vertical-align: middle;
  border-radius: 50%;
}

.spec-name {
  color: $text-link;
  vertical-align: top;
  // text-decoration: underline;
}

.katex {
  font-size: 1.1em;
}

.breadcrumbs {
  grid-area: breadcrumbs;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.article-header {
  grid-area: article-header;
}

.article-footer {
  grid-area: article-footer;
}

.article-navigation {
  margin-top: 4rem;
  font-size: 2rem;
}

.article-navigation .prev-article {
  float: left;
  max-width: 40%;
}
.article-navigation .next-article {
  float: right;
  max-width: 40%;
}

.article-navigation a {
  color: rgba(0, 0, 0, 0.84);
  text-decoration: none;
}

.breadcrumbs a:hover, .article-navigation a:hover {
  text-decoration: underline;
  color: $text-link;
}

.footnotes {
  font-size: 1.8rem;
}

.expandable {
  cursor: pointer;
}

.toc a {
  color: rgba(0,0,0,0.84);
}

.toc .active {
  color: #1a9c82;
  font-weight: bold;
}

.talents-tree {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  margin: 5rem 0;
}

.talent-spell {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.30);

  font-size: 1.7rem;
  font-family: sans-serif;
  line-height: 115%;

  box-sizing: border-box;
  height: 4.8rem;
}

.talent-spell.selected {
  background-color: $text-link;
  color: rgba(255, 255, 255, 1);
}

.talent-spell.recommended-1 {
  background-color: #cd3737;
  color: rgba(255, 255, 255, 1);
}

.talent-spell.recommended-2 {
  background-color: #e9c744;
  /* color: rgba(255, 255, 255, 1); */
}

.talent-spell.recommended-3 {
  background-color: #2dcf63;
  /* color: rgba(255, 255, 255, 1); */
}

.talent-icon-wrapper {
  width: 3.6rem;
  overflow: hidden;
  flex-shrink: 0;
}

.talent-icon {
  vertical-align: middle;
  font-size: 1.2rem;
  transform: scale(1.2);
}

.talent-name {
  padding-left: 1rem;
  text-align: center;
  flex-grow: 1;
}

.non-selectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media screen and (max-width: 700px) {
  .talent-spell {
    font-size: 1.5rem;
    line-height: 100%;
  }
}

@media screen and (max-width: 700px) {
    .non-selectable {
            width: 2rem;
            height: 2rem;
            font-size: 2rem;
    }
}
