@import "./common.scss";

html, a {
  color: rgba(255, 255, 255, 0.89);
}

.toc a, .article-navigation a {
  color: rgba(255, 255, 255, 0.89);
}

.header, .main, .footer {
  background-color: rgb(40, 40, 40);
}

.section-overview h1, .section-header {
  border-bottom-color: rgba(255, 255, 255, 0.89);
}
