@import "./colors.scss";
$screen-small: 800px;
$screen-medium: 1200px;
$screen-wide: 1300px;

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;

  font-size: 62.5%;
  color: $text-primary;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;

  background: url('/images/bg-splash.jpg'), url('/images/bg-pattern.png');
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;

  display: grid;
}

.header, .main, .footer {
  background-color: rgb(255, 255, 255);
}

body.home-body {
  grid-template-areas:
    "header-title"
    "header-nav"
    "jumbotron"
    "main"
    "footer";

  grid-template-rows: 0fr 0fr 0fr 1fr 0fr;

  @media screen and (min-width: $screen-medium) {
    grid-template-areas:
      "header"
      "jumbotron"
      "main"
      "footer";

    grid-template-rows: 0fr 0fr 1fr 0fr;
  }
}

body.home-body.balance {
  background: url('/images/spec-balance.jpg'), url('/images/bg-pattern.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
}

body.home-body.feral {
  background: url('/images/spec-feral.jpg'), url('/images/bg-pattern.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
}

body.home-body.guardian {
  background: url('/images/spec-guardian.jpg'), url('/images/bg-pattern.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
}

body.home-body.restoration {
  background: url('/images/spec-resto.jpg'), url('/images/bg-pattern.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
}

body.article-body {
  grid-template-rows: 0fr 0fr 1fr 0fr;
  grid-template-areas:
    "header-title"
    "header-nav"
    "main"
    "footer";

  @media screen and (min-width: $screen-medium) {
    grid-template-rows: 0fr 1fr 0fr;
      grid-template-areas:
        "header"
        "main"
        "footer";
  }
}

.header {
  width: 100%;
  color: $primary-accent;

  @media screen and (min-width: $screen-medium) {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 2rem;
  }
}

body.article-body .header {
  background-color: $primary-accent;
  color: white;
}

.header-title {
  font-family: "Capriola";
  grid-area: header-title;
  text-align: center;
  font-size: 4.5rem;
  margin: 0;

  @media screen and (min-width: $screen-medium) {
    font-size: 4.5rem;
    line-height: 10rem;
  }
}

.header-nav {
  grid-area: header-nav;
  display: flex;
  justify-content:space-around;
  max-width: 700px;
  margin: 0px auto;

  @media screen and (min-width: $screen-medium) {
    margin: inherit;
  }
}

.header-logo {
  width: 6rem;
  vertical-align:bottom;

  @media screen and (min-width: $screen-medium) {
    width: 6rem;
    margin-top: -0.9rem;
    vertical-align: middle;
  }
}

.article-body .header-logo {
  filter: grayscale(1) sepia(100) hue-rotate(116deg);
}

.header-nav>a {
  text-align: center;
  padding: 1rem 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 5rem;
  flex-grow: 1;

  @media screen and (min-width: $screen-medium) {
    font-size: 2rem;
    line-height: 8rem;

    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.header-nav>a:hover {
  background-color: $primary-accent;
  color: #fff;
}

body.article-body .header-nav>a:hover {
  background-color: #fff;
  color: $primary-accent;
}

.jumbotron {
  display: flex;
}

.jumbotron .site-crest {
  margin-top: -2rem;
  margin-left: 6rem;
  height: 100%;

  @media screen and (max-width: $screen-small) {
    /* Hide crest on small displays */
    display: none;
  }
}

.jumbotron-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 5rem;
  width: 100%;

  @media screen and (min-width: $screen-medium) {
    padding: 8rem;
  }
}

.jumbotron-content h1 {
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: normal;
}

.jumbotron-content h2 {
  font-size: 5rem;
  margin: 0;
  font-family: "Arvo";
}

.jumbotron-content h3 {
  font-weight: normal;
  margin: 0;
}

.jumbotron-content-subtitle {
  font-size: 2.5rem;
}

.jumbotron-content-byline {
  font-size: 2rem;
}

.jumbotron-content>a {
  font-size: 1.5rem;
}

.jumbotron-spec-header {
  text-align: center;
}

.main {
  grid-area: main;

  @media screen and (min-width: $screen-medium) {
    padding: 0 2rem;
  }
}

.main-wrapper {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 2em;
}

.main-wrapper.with-sidebar {
  grid-row-gap: 1rem;

  @media screen and (min-width: $screen-medium) {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 700px;
    grid-column-gap: 2rem;
    grid-row-gap: 0;
  }

  @media screen and (min-width: $screen-wide) {
    max-width: 1200px;
    grid-template-columns: 1fr 900px;
  }
}

.home-body .with-sidebar {
  grid-template-areas:
    "section-overview"
    "main-article";

  @media screen and (min-width: $screen-medium) {
    grid-template-areas:
      "section-overview main-article"
      "pagination pagination";
  }
}

.article-body article {
  @media screen and (min-width: $screen-medium) {
    margin-top: 5rem;
  }
}

.article-body .with-sidebar {
  grid-template-areas:
    "breadcrumbs"
    "article-header"
    "section-overview"
    "article-content"
    "article-footer";

  @media screen and (min-width: $screen-medium) {

  margin-top: 7rem;
  grid-template-areas:
    ". breadcrumbs"
    "section-overview article-header"
    "section-overview article-content"
    "article-footer article-footer";
  }
}

.section-overview h1, .section-header {
  border-bottom: 1px solid #000;
  font-size: 2rem;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.spec-selector {
  display: flex;
  flex-direction: column;
}

.spec {
  cursor: pointer;
  height: 10rem;
  overflow: hidden;

  width: 100%;
  font-size: 4rem;
  line-height: 10rem;
  text-align: center;
  color: white;

  background-position: center ;
  background-size: 100%;
  background-repeat: no-repeat;

  @media screen and (min-width: $screen-medium) {
    box-sizing: border-box;
    height: 7.5rem;
    text-align:right;
    padding-right: 2rem;
    font-size: 3rem;
    line-height: 7.5rem;
    transition: padding-right 0.5s;
  }
}

.spec:hover {
  color: white;
  text-decoration: underline;

  @media screen and (min-width: $screen-medium) {
    padding-right: 4rem;
  }
}

.spec:visited {
  color: white;
}

.spec.balance {
  background-image: url("/images/spec-balance.jpg");
}

.spec.feral {
  background-image: url("/images/spec-feral.jpg");
}

.spec.guardian {
  background-image: url("/images/spec-guardian.jpg");
}

.spec.resto {
  background-image: url("/images/spec-resto.jpg");
}

.section-overview {
  grid-area: section-overview;
  font-size: 1.5rem;
}

.section-overview a {
  text-decoration: underline;
}

.section-overview.spec-selection a {
  text-decoration: none;
}

.section-overview a:hover {
  color: $text-link;
}

.article-list .empty-list {
  text-align: center;
  font-size: 2rem;
  color: $text-soft;
  margin: 5rem;
}

.article-list, .article {
  grid-area: main-article;
}

/* .article { */
/*   margin-top: 5rem; */
/* } */

.article-summary {
  margin-bottom: 5rem;
}

.article-summary.no-summary {
  margin-bottom: 3rem;
}

.article-title {
  font-size: 5rem;
  font-family: "Arvo", serif;
  margin: 0px;
}

.article-byline {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

.article-lastmod {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
}
  
.article .article-content {
  @media screen and (min-width: $screen-medium) {
    margin-top: 5rem;
  }
}


.toc {
  @media screen and (min-width: $screen-medium) {
    margin-top: 3rem;
    position: relative;
  }
}

.sticky-toc {
  @media screen and (min-width: $screen-medium) {
    position: fixed;
    width: 280px;
  }
}

.footer {
  grid-area: footer;
  text-align: center;
}

.footer h1 {
  font-size: 1.5rem;
  color: #777;
  margin: 5rem;
}

.not-found {
  margin-top: 10rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.pagination {
  grid-area: pagination;
  font-size: 1.8rem;
  text-align: center;
  list-style: none;
}

.pagination li {
  display: inline-block;
  padding: 0 2rem;
}

.pagination li a:hover {
  color: $text-link;
  text-decoration: underline;
}

.pagination li.active {
  color: $text-link;
  text-decoration: none;
}
