.article img {
  max-width: 100%;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.article .author {
  color: #1a9c82;
  font-weight: bold;
}

.article a {
  color: #0E8DCF;
  text-decoration: underline;
}

a.tooltip {
  color: #D57F43;
}

.article-content {
  grid-area: article-content;
}

.article-preview, .article-content {
  font-family: "Georgia", serif;
  font-size: 2rem;
  line-height: 170%;
  padding: 2rem 0;
}

.article-content h1, .article-content h2, .article-content h3 {
  margin: 6rem 0 3rem;
  font-family: "Arvo";
}

.article-content p {
  margin-top: 3.8rem;
}


.article-content p:first-child {
  margin-top: 0;
}

.article-spec {
  margin-bottom: 0;
  display: inline-block;
}

.article-spec a {
  text-decoration: none;
}

.article-spec .spec-icon {
  height: 2.5rem;
  vertical-align: middle;
  border-radius: 50%;
}

.spec-name {
  color: #0E8DCF;
  font-size: 2rem;
  vertical-align: top;
  text-decoration: underline;
}

.katex {
  font-size: 1.1em;
}

.breadcrumbs {
  grid-area: breadcrumbs;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.article-header {
  grid-area: article-header;
}

.article-footer {
  grid-area: article-footer;
}

.article-navigation {
  margin-top: 4rem;
  font-size: 2rem;
}

.article-navigation .prev-article {
  float: left;
  max-width: 40%;
}
.article-navigation .next-article {
  float: right;
  max-width: 40%;
}

.breadcrumbs a, .article-navigation a {
  color: rgba(0, 0, 0, 0.84);
  text-decoration: none;
}

.breadcrumbs a {
}

.article-navigation a {
}

.breadcrumbs a:hover, .article-navigation a:hover {
  text-decoration: underline;
  color: #0E8DCF;
}

.footnotes {
  font-size: 1.8rem;
}

.expandable {
  cursor: pointer;
}

.toc a {
  color: rgba(0,0,0,0.84);
}

.toc .active {
  color: #1a9c82;
  font-weight: bold;
}

.talents-tree {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.talent-spell {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.30);

  font-size: 1.7rem;
  font-family: sans-serif;
  line-height: 115%;

  box-sizing: border-box;
  height: 4.8rem;
}

.talent-spell.selected {
  background-color: #0E8DCF;
  color: rgba(255, 255, 255, 1);
}

.talent-icon {
  vertical-align: middle;
  font-size: 1.2rem;
}

.talent-name {
  padding-left: 1rem;
  text-align: center;
  flex-grow: 1;
}
