{{ define "title" }}
{{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "metadata" }}
<meta charset="utf-8">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }} " />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}/images/logo.png" />
{{ end }}

{{ define "bodyclass" }}home-body {{ lower .Title }}{{end}}

{{ define "main" }}
  {{/* Sections should have their articles listed in weight order, but series should be listed in reverse order */}}
  {{ $pages := .Paginator.Pages }}
  {{ partial "header.html" . }}
  <section class="jumbotron">
    {{ partial "jumbotron-section.html" . }}
  </section>
  <main class="main">
    <div class="main-wrapper {{ if .Content }}with-sidebar{{ end }}">
      {{ if .Content }}
        <section class="section-overview">
          {{ .Content }}
        </section>
      {{ end }}
      <section class="article-list">
        {{ if eq (len ($pages)) 0 }}
          <h1 class="empty-list">This section is empty!</h1>
        {{ else }}
          <h1 class="section-header">{{ if .Params.articleListTitle }}{{ .Params.articleListTitle }}{{ else }}Articles in Series{{ end }}</h1>
          {{ range $pages }}
            {{ if .Params.showInRecent }}
              {{ .Render "summary" }}
            {{ end }}
          {{ end }}
        {{ end }}
      </section>
      {{ template "_internal/pagination.html" . }}
    </div>
  </main>
{{ end }}
