{{ define "title" }}
{{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<body class="home-body {{ lower .Title }}">
  {{ partial "header.html" . }}
  <section class="jumbotron">
    {{ partial "jumbotron-section.html" . }}
  </section>
  <main class="main">
    <section class="article-list">
      {{ if eq (len (.Paginator.Pages)) 0 }}
        <h1 class="empty-list">Coming Soon!</h1>
      {{ else }}
        <h1 class="section-header">Recent Articles</h1>
        {{ range .Paginator.Pages }}
          {{ .Render "summary" }}
        {{ end }}
      {{ end }}
    </section>
  </main>
</body>
{{ end }}
