{{ define "title" }}
{{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "metadata" }}
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }} " />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}/images/logo.png" />
{{ end }}

{{ define "bodyclass" }}article-body{{ end }}
{{ define "main" }}
{{ partial "header.html" . }}
<main class="main">
  <article class="article">
    {{ partial "post-header.html" . }}
    {{ partial "post-content.html" . }}
    {{ partial "post-footer.html" . }}
  </article>
</main>
{{ end }}

{{ define "head-injects" }}
  {{ if .Params.hasMath }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/vendor/katex.min.css" />
    <script src="{{ .Site.BaseURL }}/vendor/katex.min.js"></script>
    <script src="{{ .Site.BaseURL }}/vendor/auto-render.min.js"></script>
  {{ end }}
{{ end }}

{{ define "body-injects" }}
  {{ if .Params.hasMath }}
    <script>renderMathInElement(document.body);</script>
  {{ end }}
{{ end }}
