{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "metadata" }}
<meta charset="utf-8">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}" />
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }} " />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}/images/logo.png" />
{{ end }}

{{ define "bodyclass" }}article-body{{ end }}
{{ define "main" }}
{{ partial "header.html" . }}
<main class="main">
  <article class="article main-wrapper{{ if (or .Parent.Params.showsectiontoc .Params.series .Params.showtoc .Params.sidebarContents) }} with-sidebar{{ end }}">
    {{ if .Parent.Params.showsectiontoc }}
      <section class="section-overview toc">
        {{ partial "section-toc.html" . }}
      </section>
    {{ end }}
    {{ if .Params.showtoc }}
      <section class="section-overview toc">
        {{ partial "post-toc.html" . }}
      </section>
    {{ end }}
    {{ if .Params.series }}
      <section class="section-overview toc">
        {{ partial "series-toc.html" . }}
      </section>
    {{ end }}
    {{ if .Params.sidebarContents }}
      <section class="section-overview toc">
        {{ partial "post-sidebar.html" . }}
      </section>
    {{ end }}
    {{ partial "breadcrumb.html" . }}
    {{ partial "post-header.html" . }}
    {{ partial "post-content.html" . }}
    {{ partial "post-footer.html" . }}
  </article>
</main>
{{ end }}

{{ define "footer" }}
<footer class="footer">
  <a class="back-to-top" href="#top">Back to Top</a>
  <h1>Dreamgrove {{ now.Format "2006" }}</h1>
</footer>
{{ end }}

{{ define "head-injects" }}
  {{ if .Params.hasMath }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/vendor/katex.min.css" />
    <script src="{{ .Site.BaseURL }}/vendor/katex.min.js"></script>
    <script src="{{ .Site.BaseURL }}/vendor/auto-render.min.js"></script>
  {{ end }}
{{ end }}

{{ define "body-injects" }}
  {{ if .Params.hasMath }}
    <script>renderMathInElement(document.body);</script>
  {{ end }}
{{ end }}
