<article class="article-summary{{ if .CurrentSection.Params.hidesummaries }} no-summary{{ end }}">
  <h1 class="article-title"><a href="{{ .Permalink }}">{{ or .Params.series_title .Title }}</a></h1>
  {{ if not .CurrentSection.Params.hidespecs }}
    {{ partial "post-spec.html" . }}
  {{ end }}
  <!-- <div class="article-byline"> -->
  <!--   {{ partial "post-byline.html" . }} -->
  <!-- </div> -->
  {{ if not .CurrentSection.Params.hidesummaries }}
    <section class="article-content">
      {{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}
    </section>
  {{ end }}
</article>
