body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF7D0A;
    background-color: #242424;
}

.selectdiv {
    position: relative;
    float: right;
}
.selectdiv:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #AAA;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 5px;
    right: -3px;
    border-bottom: 1px solid #AAA;
    position: absolute;
    pointer-events: none;
}
.selectdiv select {
    appearance: none;
}

select {
    color:#FF7D0A;
    background-color:#242424;
    font-size: 1em;
    border: 1px solid #666;
    padding: 2px 5px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input[type=button], button[type=button] {
    color:#FF7D0A;
    background-color:#242424;
    border: 1px solid #AAA;
    padding: 2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
input[type=button] {
    white-space: nowrap;
}
button[type=button] {
    margin: 0 2.5px;
}

.header {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.buttons {
    margin: 0.5em 0;
    display: flex;
    font-size: smaller;
    justify-content: space-between;
}
.buttons .date {
    padding: 3px 0 0 5px;
}

.frames {
    display: flex;
}

#nav {
    text-align: center;
    margin: 0 0.5em 0.5em 0.5em;
    font-size: larger;
}
#nav div {
    margin-bottom: 0.5em;
}
#nav a {
    color: #FF7D0A;
}
#nav .footer {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: x-small;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#dir ul {
    font-size: small;
    text-align: left;
    padding-left: 1.5em;
}

#side {
    color: #FF7D0A;
    border: none;
    flex-grow: 1;
    width: 0px;
    height: 0px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#fightstyle {
    font-size: 0.8em;
}

#update {
    margin-left: 5px;
}

.pvtUi { color: #333; }

table.pvtTable {
    font-size: 8pt;
    text-align: left;
    border-collapse: collapse;
}
table.pvtTable thead tr th, table.pvtTable tbody tr th {
    border: 1px solid #666;
    font-size: 8pt;
    padding: 5px;
}

table.pvtTable .pvtColLabel {
    text-align: center;
}
table.pvtTable .pvtTotalLabel {
    text-align: right;
}

table.pvtTable a {
    color: #FF7D0A;
    text-decoration: none;
}

table.pvtTable tbody tr td {
    color: #333;
    padding: 5px;
    background-color: #FF7D0A;
    border: 1px solid #666;
    vertical-align: top;
    text-align: right;
}

.pvtUnused, .pvtUnused :not(.pvtFilteredAttribute) .pvtAttr {
    color: #B8773E !important;
}

td.pvtUnused, td.pvtVals.pvtUiCell {
    border: 0;
}

.pvtTotal, .pvtGrandTotal { font-weight: bold; }

.pvtVals { text-align: center; white-space: nowrap;}
.pvtRowOrder, .pvtColOrder {
    color: #FF7D0A;
    cursor: pointer;
    width: 15px;
    margin-left: 5px;
    display: inline-block; }
.pvtAggregator { margin-bottom: 5px ;}

.pvtAxisContainer, .pvtVals {
    border: 1px solid #AAA;
    padding: 5px;
    min-width: 20px;
    min-height: 20px;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.pvtAxisContainer li {
    padding: 8px 6px;
    list-style-type: none;
    cursor:move;
}
.pvtAxisContainer li.pvtPlaceholder {
    -webkit-border-radius: 5px;
    padding: 3px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px dashed #666;
}
.pvtAxisContainer li span.pvtAttr {
    -webkit-text-size-adjust: 100%;
    color: #FF7D0A;
    border: 1px solid #666;
    padding: 2px 5px;
    white-space:nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.pvtAxisLabel {
    background-color: #363636;
}

.pvtTriangle {
    cursor:pointer;
    color: #AAA;
}

.pvtHorizList li { display: inline; }
.pvtVertList { vertical-align: top; }

.pvtFilteredAttribute {
    font-style: italic
}

.pvtFilterBox{
    z-index: 100;
    width: 300px;
    border: 1px solid #666;
    color: #FF7D0A;
    background-color: #242424;
    position: absolute;
    text-align: center;
}

.pvtFilterBox h4 { margin: 10px; }
.pvtFilterBox p { margin: 5px auto; }
.pvtFilterBox label { font-weight: normal; }
.pvtFilterBox input[type='checkbox'] { margin-right: 10px; margin-left: 10px; }
.pvtFilterBox input[type='text'] { width: 230px; margin-bottom: 5px; }
.pvtFilterBox .count { color: #666; font-weight: normal; margin-left: 3px;}

.pvtCheckContainer{
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    overflow-y: scroll;
    width: 100%;
    max-height: 250px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

.pvtCheckContainer p { margin: 5px; }

.pvtRendererArea {
     padding: 5px;
     transition: opacity .25s;
}

.ui-helper-hidden {	display: none; }
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {	clear: both; }
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {	z-index: 100; }

.tip { font-size: 12px; }
.tip .tip-right { text-align: right; font-weight: bold; }
.tip .tip-dps { font-size: 14px; font-weight: bold; }
/*.tip tr.tip-dps td.tip-right { font-weight: normal; }*/

.ui-tooltip {
    color: #FF7D0A;
    background: #1A1A1A;
    border-radius: 8px;
    padding: 4px;
    border: 2px solid #FF7D0A;
    z-index: 9999;
    opacity: 0.90;
    text-transform: capitalize;
    position: absolute;
}
.ui-tooltip:after, .ui-tooltip:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ui-tooltip:after {
	border-color: rgba(17, 17, 17, 0);
	border-right-color: #1A1A1A;
	border-width: 7px;
	margin-top: -7px;
}
.ui-tooltip:before {
	border-color: rgba(255, 125, 10, 0);
	border-right-color: #FF7D0A;
	border-width: 10px;
	margin-top: -10px;
}

#copied {
    background: #FF7D0A;
    color: #1A1A1A;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    padding: 3px;
    border: 2px solid #FFF;
    z-index: 9999;
    opacity: 0.90;
    text-transform: capitalize;
    position: absolute;
    display: none;
}
#copied:after, #copied:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#copied:after {
	border-color: rgba(255, 125, 10, 0);
	border-left-color: #FF7D0A;
	border-width: 7px;
	margin-top: -7px;
}
#copied:before {
	border-color: rgba(17, 17, 17, 0);
	border-left-color: #FFF;
	border-width: 10px;
	margin-top: -10px;
}

#loading {
    position: absolute;
    max-height: 80vh;
    display: none;
}

#inprogress {
    animation: inprogress 2s infinite;
}
@keyframes inprogress {
    0%   { color: #242424; }
    50%  { color: #FF7D0A; }
    100% { color: #242424; }
}

#bear {
    width: 120px;
    height: 83px;
    background: url('bearnelf2.png') left center;
    background-size: cover;
    animation: bear 0.667s steps(4) infinite;
}
@keyframes bear {
    100% { background-position: -537px; }
}

#cat {
    width: 112px;
    height: 64px;
    background: url('cattaur2.png') left center;
    background-size: cover;
    animation: cat 0.667s steps(4) infinite;
}

@keyframes cat {
    100% { background-position: -506px; }
}