<h3 class="article-byline">
  published
  <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
  by
  {{ range $index, $author := .Params.authors }}
    {{ if gt $index 0 }}, {{ end }}<a href="{{ "/authors/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
  {{ end }}
  {{ if .Params.tags }}
    in
    {{ range $index, $tag := .Params.tag }}
      {{ if gt $index 0 }}, {{ end }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  {{ end }}
</h3>
