<span class="article-spec">
  <a href="{{ .Section | relLangURL }}/">
    {{ if eq .Section "balance" }}
      <img class="spec-icon" src="/images/icon-balance.jpg" alt="Balance"/>
    {{ else if eq .Section "feral" }}
      <img class="spec-icon" src="/images/icon-feral.jpg" alt="Feral"/>
    {{ else if eq .Section "guardian" }}
      <img class="spec-icon" src="/images/icon-guardian.jpg" alt="Guardian"/>
    {{ else if eq .Section "restoration" }}
      <img class="spec-icon" src="/images/icon-resto.jpg" alt="Restoration"/>
    {{ else if eq .Section "Druid" }}
      <img class="spec-icon" src="/images/icon-druid.jpg" alt="Druid"/>
    {{ end }}
    <span class="spec-name">{{ humanize .Section }}</span>
  </a>
</span>
