$primary-accent: #1a9c82;

$text-primary: rgba(0, 0, 0, 0.84);
$text-soft: rgba(0, 0, 0, 0.6);
$text-link: #0E8DCF;
$text-tooltip: #D57F43;
$pre-bgcolor: #383838;

$font-body: "Source Sans Pro", sans-serif;
