{{ define "title" }}

{{ .Title }} | {{ .Site.Title }}

{{ end }}

{{ define "metadata" }}
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }} " />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}/images/logo.png" />
{{ end }}

{{ define "bodyclass" }}article-body{{ end }}

{{ define "main" }}
{{ partial "header.html" . }}
<main class="main">
  <article class="article">
    {{ partial "about-header.html" . }}
    {{ partial "post-content.html" . }}
    {{ partial "post-footer.html" . }}
  </article>
</main>
{{ end }}
