<input type="checkbox" data-id="{{ .Get "id" }}-cb">
<label for="{{ .Get "id" }}-cb">
    {{ if .Get "spell" }}
        <a href="#" class="tooltip spell-tooltip" data-tooltip-href="http://www.wowdb.com/spells/{{ .Get "spell" }}" onclick="toggleCheckbox(event, '{{ .Get "id" }}-cb');">{{ .Get "label" }}</a>
    {{ else }}
        {{ .Inner | safeHTML }}
    {{ end }}
</label>

<script>
    const checkbox = document.querySelector('[data-id="{{ .Get "id" }}-cb"]');
    checkbox.addEventListener('change', function () {
        const toggleText = document.getElementById(this.getAttribute('data-id'));
        if (this.checked) {
            toggleText.style.display = 'block';
        } else {
            toggleText.style.display = 'none';
        }
    });

    function toggleCheckbox(event, checkboxId) {
        event.preventDefault();
        const checkbox = document.getElementById(checkboxId);
        checkbox.checked = !checkbox.checked;
        checkbox.dispatchEvent(new Event('change'));
    }
</script>
