{{/* 
This file is uglified as a workaround for inserting a replaced shortcode in a markdownified block. 
The whitespace from this file will be converted into <p> and <br /> tags in the markdown engine, 
which we don't want obviously. An annoying fix, but necessary.
*/}}
{{ if .IsNamedParams }}<a href="http://{{ if .Get "src" | eq "live" }}www{{ else }}{{ .Get "src" }}{{ end }}.wowdb.com/items/{{ .Get "id" }}" class="tooltip item-tooltip">{{ .Get "name" }}</a>{{ else }}{{ if len .Params | eq 3 }}<a href="http://{{ if .Get 2 | eq "live" }}www{{ else }}{{ .Get 2 }}{{ end }}.wowdb.com/items/{{ .Get 0 }}" class="tooltip item-tooltip">{{ .Get 1 }}</a>{{ else }}<a href="http://www.wowdb.com/items/{{ .Get 0 }}" class="tooltip item-tooltip">{{ .Get 1 }}</a>{{ end }}{{ end }}