{{/*
This file is uglified as a workaround for inserting a replaced shortcode in a markdownified block.
The whitespace from this file will be converted into <p> and <br /> tags in the markdown engine,
which we don't want obviously. An annoying fix, but necessary.
*/}}
{{ $currentPatch := $.Site.Params.currentPatch }}{{ $pastPatches := split $.Site.Params.pastPatches "," }}{{ $patch := $.Page.Params.patch | default $currentPatch }}{{ $dbsrc := cond (or (in $pastPatches $patch) (eq $patch $currentPatch)) "www" "ptr" }}{{ if .IsNamedParams }}{{ safeHTML (printf "<a href='http://%s.wowdb.com/spells/%d'class='tooltip spell-tooltip'>%s</a>" $dbsrc (.Get "id" | int) (.Get "name")) }}{{ else }}{{ safeHTML (printf "<a href='http://%s.wowdb.com/spells/%d' class='tooltip spell-tooltip'>%s</a>" $dbsrc (.Get 0 | int) (.Get 1)) }}{{ end }}{{- "" -}}