{{ $currentPatch := "8.1" }}
{{ $pastPatches := split $.Site.Params.pastPatches "," }}
{{ $spec := .Get "spec" | lower }}
{{ $patch := $.Page.Params.patch | default $currentPatch }}
{{ $sourceFile := print "talents-" $patch }}
{{ $class := "11" }}
{{ $dataPath := (index $.Site.Data $sourceFile) }}
{{ $dataFile := cond (eq $dataPath nil) (index $.Site.Data "talents-8.0") $dataPath }}
{{ $data := index $dataFile $class }}
{{ $select := .Get "select" | default "0" }}
{{ $tierArray := (slice "15" "30" "45" "60" "75" "90" "100" ) }}
{{ $dbsrc := cond (or (in $pastPatches $patch) (eq $patch $currentPatch)) "www" "ptr" }}

{{/* Find the correct tier */}}
{{ range $tierNum, $tier := $tierArray }}
  {{ if (eq $tier ($.Get "tier")) }}
    {{ $.Scratch.Set "tier" $tierNum }}
  {{ end }}
{{ end }}

{{/* Find the spec data */}}
{{ range $data.specs }}
  {{ if eq (.name | lower) $spec }}
    {{ $.Scratch.Set "spec" . }}
  {{ end }}
{{ end }}

{{ $tier := index $data.talents ($.Scratch.Get "tier") }}

<div class="talents-tree">

{{ $.Scratch.Set "actualColumn" 1 }}
{{ range $colNum, $column := $tier }}
  {{ $selected := eq (int $select) ($.Scratch.Get "actualColumn") }}
  {{ $.Scratch.Set "foundSpecSpell" false }}
  {{/* Check for spec specific talents */}}
  {{ range $spell := $column }}
    {{ $specMatches := (eq ($.Scratch.Get "spec").name $spell.spec.name) }}
    {{ if $specMatches }}
    <div class="talent-spell{{ if $selected }} selected{{ end }}" data-tooltip-href="http://{{ $dbsrc }}.wowdb.com/spells/{{ $spell.spell.id }}">
        <div class="talent-icon-wrapper">
          <img class="talent-icon" src="{{ $.Site.BaseURL }}/images/{{ $spell.spell.icon }}.png" alt="{{ $spell.spell.name }}"/>
        </div>
        <div class="talent-name">
          {{ $spell.spell.name }}
        </div>
      </div>
      {{ $.Scratch.Set "foundSpecSpell" true }}
      {{ $.Scratch.Add "actualColumn" 1 }}
    {{ end }}
  {{ end }}

  {{/* Check again for shared talents */}}
  {{ if (not ($.Scratch.Get "foundSpecSpell")) }}
    {{ range $spell := $column }}
      {{ $noSpecSet := (not (isset $spell "spec")) }}
      {{ if $noSpecSet }}
      <div class="talent-spell{{ if $selected }} selected{{ end }}" data-tooltip-href="http://{{ $dbsrc }}.wowdb.com/spells/{{ $spell.spell.id }}">
          <div class="talent-icon-wrapper">
            <img class="talent-icon" src="{{ $.Site.BaseURL }}/images/{{ $spell.spell.icon }}.png" alt="{{ $spell.spell.name }}"/>
          </div>
          <div class="talent-name">
            {{ $spell.spell.name }}
          </div>
        </div>
        {{ $.Scratch.Add "actualColumn" 1 }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
</div>
