{{ $currentPatch := $.Site.Params.currentPatch }}
{{ $pastPatches := split $.Site.Params.pastPatches "," }}
{{ $spec := .Get "spec" | lower }}
{{ $patch := $.Page.Params.patch | default $currentPatch }}
{{ $sourceFile := print "talents-" $patch }}
{{ $class := "11" }}
{{ $dataPath := (index $.Site.Data $sourceFile) }}
{{ $dataFile := cond (eq $dataPath nil) (index $.Site.Data (print "talents-" $currentPatch)) $dataPath }}
{{ $data := index $dataFile $class }}
{{ $selectArray := split (.Get "select" | default "0000000") "" }}
{{ $recommendRows := split (.Get "recommend" | default "000,000,000,000,000,000,000") ","}}
{{ $dbsrc := cond (or (in $pastPatches $patch) (eq $patch $currentPatch)) "www" "ptr" }}

{{/* Find the spec data */}}
{{ range $data.specs }}
  {{ if eq (.name | lower) $spec }}
    {{ $.Scratch.Set "spec" . }}
  {{ end }}
{{ end }}

<div class="talents-tree">
{{ range $tierNum, $tier := $data.talents }}
  {{ $tierSelect := index $selectArray $tierNum }}
  {{ $tierRecommend := split (index $recommendRows $tierNum | default "000") "" }}
  {{ $.Scratch.Set "actualColumn" 1 }}
  {{ range $colNum, $column := $tier }}
    {{ $selected := eq (int $tierSelect) ($.Scratch.Get "actualColumn") }}
    {{ $recommend := int (index $tierRecommend $colNum) }}
    {{ $.Scratch.Set "foundSpecSpell" false }}
    {{/* Check for spec specific talents */}}
    {{ range $spell := $column }}
      {{ $specMatches := (eq ($.Scratch.Get "spec").name $spell.spec.name) }}
      {{ if $specMatches }}
      <div class="talent-spell{{ if $selected }} selected{{ else }}{{ if (gt $recommend 0) }} recommended-{{ $recommend }}{{ end }}{{ end }}" data-tooltip-href="http://{{ $dbsrc }}.wowdb.com/spells/{{ $spell.spell.id }}">
          <div class="talent-icon-wrapper">
            <img class="talent-icon" src="{{ $.Site.BaseURL }}/images/{{ $spell.spell.icon }}.png" alt="{{ $spell.spell.name }}"/>
          </div>
          <div class="talent-name">
            {{ $spell.spell.name }}
            {{ if (eq $recommend 1) }}
              <sup>&times;</sup>
            {{ else if (eq $recommend 2) }}
              <sup>?</sup>
            {{ else if (eq $recommend 3) }}
              <sup>&#10004;</sup>
            {{ end }}
          </div>
        </div>
        {{ $.Scratch.Set "foundSpecSpell" true }}
        {{ $.Scratch.Add "actualColumn" 1 }}
      {{ end }}
    {{ end }}

    {{/* Check again for shared talents */}}
    {{ if (not ($.Scratch.Get "foundSpecSpell")) }}
      {{ range $spell := $column }}
        {{ $noSpecSet := (not (isset $spell "spec")) }}
        {{ if $noSpecSet }}
          <div class="talent-spell{{ if $selected }} selected{{ else }}{{ if (gt $recommend 0) }} recommended-{{ $recommend }}{{ end }}{{ end }}" data-tooltip-href="http://{{ $dbsrc }}.wowdb.com/spells/{{ $spell.spell.id }}">
            <div class="talent-icon-wrapper">
              <img class="talent-icon" src="{{ $.Site.BaseURL }}/images/{{ $spell.spell.icon }}.png" alt="{{ $spell.spell.name }}"/>
            </div>
            <div class="talent-name">
              {{ $spell.spell.name }}
              {{ if (eq $recommend 1) }}
                <sup>&times;</sup>
              {{ else if (eq $recommend 2) }}
                <sup>?</sup>
              {{ else if (eq $recommend 3) }}
                <sup>&#10004;</sup>
              {{ end }}
            </div>
          </div>
          {{ $.Scratch.Add "actualColumn" 1 }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
</div>
