<input type="checkbox" id="toggleCheckbox{{ .Get " id" }}" data-id="{{ .Get " id" }}" checked>
<label for="toggleCheckbox{{ .Get " id" }}">{{ .Get "label" }}</label>

<script>
    const checkbox = document.querySelector('[data-id="{{ .Get "id" }}"]');
    checkbox.addEventListener('change', function () {
        const toggleableText = document.getElementById('toggleText' + this.getAttribute('data-id'));
        if (this.checked) {
            toggleableText.style.display = 'block';
        } else {
            toggleableText.style.display = 'none';
        }
    });
</script>