<input type="checkbox" data-id="{{ .Get "id" }}-cb" checked>
<label for="{{ .Get "id" }}-cb">{{ .Get "label" }}</label>

<script>
    const checkbox = document.querySelector('[data-id="{{ .Get "id" }}-cb"]');
    checkbox.addEventListener('change', function () {
        const toggleableText = document.getElementById(this.getAttribute('data-id').replace('-cb', ''));
        if (this.checked) {
            toggleableText.style.display = 'block';
        } else {
            toggleableText.style.display = 'none';
        }
    });
</script>