{{ .Scratch.Set "hidesummaries" false }}
{{ if .CurrentSection }}
  {{ if .CurrentSection.Params.hidesummaries }}
    {{ .Scratch.Set "hidesummaries" .CurrentSection.Params.hidesummaries }}
  {{ end }}
{{ end }}

{{ .Scratch.Set "hidespecs" false }}
{{ if .CurrentSection }}
  {{ if .CurrentSection.Params.hidespecs }}
    {{ .Scratch.Set "hidespecs" .CurrentSection.Params.hidespecs }}
  {{ end }}
{{ end }}

{{ $hidesummaries := .Scratch.Get "hidesummaries" }}
{{ $hidespecs := .Scratch.Get "hidespecs" }}

{{ if not (eq .Params.showInRecent false) }}
  <article class="article-summary{{ if $hidesummaries }} no-summary{{ end }}">
    <h1 class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    {{ if not $hidesummaries }}
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
    {{ end }}
    {{ if not $hidespecs }}
      in {{ partial "post-spec.html" . }}
    {{ end }}
    <!-- <div class="article-byline"> -->
    <!--   {{ partial "post-byline.html" . }} -->
    <!-- </div> -->
    {{ if not $hidesummaries }}
      <section class="article-content">
        {{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}
      </section>
      <a class="summary-prompt" href="{{ .Permalink }}">Continue Reading &raquo;</a>
    {{ end }}
  </article>
{{ end }}
